/* Global styling */
.wrapper {
  min-height: 100vh;
  background: black;
  color: rgb(219, 218, 218);
}

.main {
  min-height: calc(100vh - 150px);
}

.table,
tr,
td,
th {
  background: transparent !important;
  color: white !important;
}

.in {
  color: greenyellow !important;
}

.out {
  color: red !important;
}

.signin-bg {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  background: url("./assets/bg-1.jpeg");

  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.signup-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  background: url("./assets/img-finance.jpeg");

  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.signup-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* dim background image */
  z-index: 1;
}
.signup-bg > * {
  position: relative;
  z-index: 2; /* brings content above the overlay */
}
/* Dashboard */
.dashboard-wrapper {
  padding: 2rem;
  height: auto;
}

/* Card styles for a cleaner look */
.dashboard-wrapper .card {
  border: none;
  border-radius: 8px; /* Rounded corners for a softer look */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
  transition: all 0.3s ease-in-out;
}

/* Hover effect for cards */
.dashboard-wrapper .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
}

.dashboard-wrapper .card-body {
  text-align: center;
  padding: 1rem;
}

.dashboard-wrapper .card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.balance {
  background: #e6f7ff;
}
.income {
  background: #2dc45a;
}
.expense {
  background: #d37e64c9;
}
/* Styling for Pie/Line/Bar charts to adjust sizes */
.dashboard-wrapper .chart {
  width: 100%;
  height: 300px; /* Set a default height for the charts */
}

/* For large screens (≥992px) */
@media (min-width: 992px) {
  .dashboard-wrapper .col-lg-4 {
    /* Ensures each section is 1/3 of the screen */
    width: 33.33%;
  }

  .dashboard-wrapper .col-lg-12 {
    /* Full-width for the Bar chart */
    width: 100%;
  }
}

/* For small screens (mobile/tablet), keep it stacked */
@media (max-width: 767px) {
  .dashboard-wrapper .col-md-4 {
    width: 100%; /* Stacked layout */
  }
}
